.form {
    @include element('group') {
        @include not-last {
            margin-bottom: 2rem;
        }
    }

    @include element('input') {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        @include transition(all .3s);

        &:focus {
            outline: none;
            -webkit-box-shadow: 0 1rem 2rem rgba($color-black, .1);
            -moz-box-shadow: 0 1rem 2rem rgba($color-black, .1);
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-gray-dard-2;
        }
    }

    @include element('label') {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        @include transition(all .3s);
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        @include transform(translateY(-4rem));
    }

    @include element('radio-group') {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            padding-bottom: 1rem;
        }
    }

    @include element('radio-label') {
        font-size: $font-size-default;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    @include element('radio-input') {
        display: none;
    }

    @include element('radio-button') {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.5rem;
        left: 0;

        &::after {
            content: '';
            height: 1.3rem;
            width: 1.3rem;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            background-color: $color-primary;
            opacity: 0;
            @include transition(opacity .2s);
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
