@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin shadow($y, $x: 0, $blur: 6rem) {
    -webkit-box-shadow: $x $y $blur rgba(black, .3);
    -moz-box-shadow: $x $y $blur rgba(black, .3);
    box-shadow: $x $y $blur rgba(black, .3);
}

@mixin transition($property){
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}
